{% extends 'base.html' %}

{% block content %}
    <section class="w-75 mb-4 ms-auto me-auto mt-4">
        <div class="border rounded-3">
            <section class="px-3 py-5" style="background-color: white">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-11" style="text-align: center">
                        <h3>Спасибо за ваш заказ!</h3>
                        <p>Ваш номер {{ order.pk }}</p>
                        <p>Скоро наш менеджер перезвонит вам по указанному в закзазе номеру</p>
                    </div>
                </div>
            </section>
        </div>
    </section>


{% endblock %}